.wd-profile-banner {
    width: 100%;
}
.wd-profile-logo {
    /*float: left;*/
    height : 100px;
    width : 100px;
    border-radius: 50px;
    right : 20px;
    left : 20px;
    margin: 0;
    border: solid black 4px;
}
.wd-profile-details {
    position: relative;
    /*transform: translateY(-30px);*/
    top: -20px;
}
.wd-profile-name {
    color: white;
    position:relative;
    /*margin-left: 30px;*/

}

.wd-profile-bio {
    color: white;
}

.wd-profile-edit-button {
    border-radius: 20px;
    color: white;
    transform: translateY(30px);
}